.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark-mode {
  --bg-color: #333;
  --text-color: #fff;
}

.logo img {
  height: 40px;
}

.search-form {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-form input {
  width: 40%;
  padding: 5px;
  border: none;
  border-radius: 5px 0 0 5px;
  text-align: center;
  outline: none;
}

.search-form button {
  padding: 5px 10px;
  border: none;
  background-color: #ab9be6;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

.nav-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.desktop-profile {
  display: flex;
  align-items: center;
}

.profile .login-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
}

.mobile-profile {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: var(--bg-color);
    border-radius: 8px;
  }

  .nav-links.open {
    display: flex;
    z-index: 1;
    width: 100%;
  }

  .menu-toggle {
    display: block;
  }

  .desktop-profile {
    display: none;
  }

  .mobile-profile {
    display: flex;
    justify-content: flex-end;
  }
}
